@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@100..900&display=swap");
.Siluette {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif Armenian";
  &__content {
    max-width: 768px;
    &-title {
      padding: 30px 0px;
      background-color: #daddc2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          &:nth-child(1) {
            width: 200px;
          }
          &:nth-child(2) {
          }
          &:nth-child(3) {
            width: 200px;
          }
        }
      }
      &-photo {
        margin-top: 30px;
        width: 300px;
        height: auto;
        border: 1px solid black;
        border-radius: 50%;
        padding: 20px;
        &-circle {
          width: 260px;
          height: 410px;
          border-radius: 50%;
          border: 1px solid black;
          background: url("../../../public/images/Siluette/Wedding.jpg") center
            no-repeat;
          background-size: cover;

          display: flex;
          align-items: center;
          justify-content: center;
          &-text {
            padding: 20px;
            width: 220px;
            height: 370px;
            border-radius: 50%;
            display: flex;
            align-items: end;
            justify-content: center;
            h2 {
              font-size: 30px;
              display: flex;
              align-items: end;
              justify-content: center;
              color: whitesmoke;
              text-align: center;
            }
          }
        }
      }
    }
    &-date {
      background-color: #434432;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        &:nth-child(1) {
          margin: 20px auto;
          width: 300px;
        }
        &:nth-child(3) {
        }
      }
      p {
        width: 80%;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 20px;
        font-size: 20px;
        color: whitesmoke;
        span {
          font-weight: bold;
        }
      }

      &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        p {
        }
        button {
          margin-bottom: 20px;
          padding: 20px 30px;
          border-radius: 30px;
          border: 2px solid whitesmoke;
          background-color: transparent;
          color: whitesmoke;
          font-weight: bold;
        }
      }
    }
    &-timing {
      background-color: #434432;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        &:nth-child(1) {
          margin-top: 50px;
          width: 300px;
        }
      }
      &-box {
        margin: 30px 0;
        border: 2px solid whitesmoke;
        width: 300px;
        height: auto;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        img {
          &:nth-child(1) {
            width: 70px;
            margin-bottom: 20px;
          }
          &:nth-child(3) {
            width: 70px;
            margin-top: 20px;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;
          li {
            font-size: 20px;
            display: flex;
            gap: 10px;
            span {
              font-size: 24px;
            }
          }
        }
      }
    }
    &-agenda {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      background-color: #daddc2;
      img {
        width: 300px;
        margin: 40px auto;
      }
      p {
        font-size: 18px;
      }
      form {
        width: 80%;
        margin: 50px auto 0;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        select,
        input[type="text"],
        input[type="number"] {
          width: 100%;
          height: 50px;
          padding: 5px 20px;
          background-color: transparent;
          font-size: 18px;
          border: 0;
          color: #434432;
          border-bottom: 1px solid #434432;
          border-radius: 0;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: #434432;
          }
        }

        button {
          padding: 15px 50px;
          border-radius: 30px;
          background-color: #434432;
          border: 0;
          color: whitesmoke;
          font-weight: bold;
          width: 200px;
          margin: 40px auto;
        }
      }
    }
  }
}
