@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&family=League+Script&family=Qwitcher+Grypen:wght@400;700&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pacifico&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

.Pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  border-top: 5px solid var(--lightGold);
  padding: 80px 0;

  &__content {

    
    > div {
      width: 300px;
      height: 500px;
      background-color: var(--white);
      border: 2px solid var(--lightGold);

      img {
        width: 260px;
        height: 240px;
        margin: 20px;
        opacity: 0.9;
        transition: all 0.5s;
        &:hover {
          scale: 0.94;
          transition: all 0.5s;
        }
        @media (max-width: 450px) {
          &:hover {
            scale: 1;
          }
        }
      }
      h1 {
        font-size: 28px;
        margin-bottom: 10px;
        font-family: "League Script";
        color: var(--green);
      }

      p {
        width: 90%;
        height: 95px;
        font-size: 18px;
        margin: 0 auto 16px;
        font-family: "Bellota Text";
        color: var(--lightGold);
      }
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        background-color: var(--green);
        border: 1px solid var(--lightGold);

        button {
          
          
          width: 120px;
          height: 34px;
          font-size: 14px;
          border: 0;

          color: var(--white);
          scale: 1;
          font-family: "Bellota Text";
          background-color: var(--green);
          transition: 0.4s linear;
        }

        button:nth-child(1) {
          margin-left: 10px;
          span {
            margin-left: 4px;
          }
        }
        button:nth-child(2) {
          background-color: var(--white);
          color: var(--green);
          height: 30px;
          margin-right: 2px;

          &:hover {
            scale: 0.94;
            transition: 0.4s linear;
          }
        }
      }
    }
  }
}
