.Sliders {
  width: 100%;
  height: 600px;
  background-color: var(--white);
  &__content {
    width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    div > img {
      width: 100%;
      height: 400px;
    }
    .slick-slide > div {
      width: 100%;
      height: 100%;
    }
    .slick-track {
      display: flex;
      width: 100%;
    }
  }
  @media (max-width: 900px) {
    width: 100%;
    height: auto;
    &__content {
      width: 80%;
      div > img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 400px;
    overflow-y: hidden;
  }
  @media (max-width: 450px) {
    height: 300px;
  }
  @media (max-width: 390px) {
    height: 250px;
  }
}
