.Sliders {
  width: 100%;

  background-color: var(--white);

  &__content {
    width: 50%;
    margin: 0px auto;
    padding: 40px auto 100px;

    div > img {
      width: 100%;
    }
    .slick-slide > div {
      width: 100%;
      height: 100%;
    }
    .slick-track {
      display: flex;
      width: 100%;

      margin-bottom: 100px;
    }
  }
  @media (max-width: 900px) {
    width: 100%;
    height: auto;
    &__content {
      width: 80%;
      div > img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 400px;
    overflow-y: hidden;
    &-content {
      div {
        img {
          height: 100%;
        }
      }
    }
  }
  @media (max-width: 450px) {
    height: 400px;
    &__content {
      width: 100%;
    }
  }
  @media (max-width: 390px) {
    height: 290px;
  }
}
