@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.Footer {
  &__content {
    width: 100%;
    height: auto;
    max-width: 1730px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: clamp(10px, 150px, 150px);
    padding: clamp(10px, 80px, 70px) 10px;
    font-family: "Chakra Petch";
    background-color: var(--white);
    border-top: 5px solid var(--lightGold);
    &-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 300px;
      img {
        width: clamp(200px, 400px, 200px);
        margin-bottom: 40px;
      }
      &-contacts {
        color: var(--lightGold);
      }

      &-socials {
        display: flex;
        gap: 20px;
        img {
          width: 30px;
        }
      }
    }
    &-order {
      width: clamp(280px, 500px, 700px);
      height: clamp(280px, 350px, 700px);
      color: var(--lightGold);

      h2 {
        margin-bottom: clamp(10px, 30px, 50px);
        text-align: center;
        font-size: 22px;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px 20px;

        button {
          border: 0;
          border-radius: 12px;
          padding: 10px 50px;
          color: var(--white);
          background-color: var(--lightGold);
          cursor: pointer;
          margin-top: 10px;
        }
        select,
        input {
          width: 450px;
          border: 0;
          padding: 10px;
          color: var(--lightGold);
          border-bottom: 2px solid var(--lightGold);
          background-color: var(--white);

          cursor: pointer;
          &:focus {
            outline: none;
            border-bottom: 3px solid var(--Ruluko);
            transition: border-bottom 0.2s;
          }

          &::placeholder {
            color: var(--lightGold);
          }
        }
      }
    }
  }
}
