@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pacifico&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

.Modal {
  position: fixed;
  z-index: 999;
  inset: 0 0 0 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Bellota Text";

  &__content {
    background-color: var(--green);
    border-radius: 20px;
    padding: 1em;
    text-align: center;
    align-self: center;
    width: max(340px, 40%);
    min-height: 400px;
    box-shadow: -2px -7px 56px 4px rgba(238, 238, 238, 0.69);
    border: 5px solid var(--lightGold);
    > div {
      display: flex;
      justify-content: end;
      padding: 10px;

      img {
        width: 25px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          scale: 0.9;
        }
      }
    }

    h2 {
      color: var(--lightGold);
      margin: 0 0 40px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      select {
        margin: 0 auto;

        width: 75%;
        height: 40px;
        border-radius: 10px;
        background-color: var(--white);
        display: flex;
        font-size: 14px;
        flex-direction: row;
        padding: 8px;
        color: var(--Ruluko);
        font-family: "Bellota Text";
        &:focus {
          outline: none;
          color: var(--Ruluko);
        }
      }
      input {
        width: 75%;
        height: 40px;
        border-radius: 10px;
        background-color: var(--white);
        color: var(--Ruluko);
        margin: 0 auto;
        padding: 8px;
        border: 0;
        font-family: "Bellota Text";
        font-size: 14px;
        &::placeholder {
          color: var(--Ruluko);
          padding: 8px;
        }
        &:focus {
          outline: none;
          color: var(--Ruluko);
        }
      }
      button {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        margin: 0 auto;
        background-color: var(--lightGold);
        color: var(--white);
        font-size: 16px;
        border: 0;
        margin-top: 10px;
        font-family: "Bellota Text";
        &:hover {
          scale: 0.98;
        }
      }
    }
  }
}
