@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Armenian:wght@100..900&family=Qwigley&display=swap");
:root {
  --green: #687b68;
  --Ruluko: #a37e2c;
  --lightGreen: #9eca9e;
  --lightGold: #c9c08f;
  --white: #f4f4f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
body {
  user-select: none;
}
img {
  -webkit-user-drag: none;
}
.font-hy {
  font-family: "Noto Serif Armenian", serif;
}
.font-ru {
  font-family: "Bellota Text";
}
