@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --green: #687b68;
  --Ruluko: #a37e2c;
  --lightGreen: #9eca9e;
  --lightGold: #c9c08f;
  --white: #f4f4f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  // font-family: "EB Garamond";
  // font-family: "Noto Sans Armenian";
}
